body{
padding: 0px 60px;
}

.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.nav-list{
  gap: 30px;
  list-style: none;
  justify-content: end;
}

.nav-list li{
  font-size: x-large;
  font-weight: bold;
}
.active{
  background-color: blue;
  color: white;
}
.btn{
  padding: 15px 30px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.card{
  width: 300px;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.img{
  width: 100%;
  border-radius: 15px;
}